body {
	background-color: #FFFFFF;
}
.middle {
		width: 1225px;
		margin:0 auto;
}
.flow {
		overflow: hidden;
}
.words_cl {
		color: #FFAC13;
}
.words_silver {
			color: #B0B0B0;
}
/*--头部导航-B--*/
.top {
		height: 40px;
		line-height: 40px;
		background-color: #333333;
}
.top .middle {
		height: 40px;
}
.top li {
		float: left;
}
.top a {
		color: #B0B0B0;
} 
/*--头部导航-E--*/
/*--LOGO区-B--*/
.logo {
		height: 100px;
}
.logo .middle {
				height: 100px;
				line-height: 100px;
}
.logo_l {
		margin-top: 23px;
}
.mini_logo {
			display: inline-block;
			width: 55px;
			height: 55px;
			background: url(../images/logo.png) no-repeat;
}
.logo_c {
		margin-top: 17px;
}
.hands_2 {
		display: inline-block;
		width: 163px;
		height: 66px;
		background: url(../images/haidaoquannew.gif) no-repeat;
}
.logo_r {
		line-height: 100px;
		margin-left: 30px;
}
.logo_r li {
		float: left;
}
.logo_r a {
			font: 15px "微软雅黑";
			margin-right: 18px;
}
/*--LOGO区-E--*/
/*--Banner-B--*/
.banner {
		height: 460px;
}
.ban_pic {
		height: 460px;
		background-color: #6DC9EE;
		position: relative;
}
.ban_und {
		height: 170px;
		margin-top: 10px;
}
.mini_ban {
		posotion: absolute;
		top: 0;
		right: 0;
}
.ban_pic .opacity {
		height: 460px;
		width: 235px;
		background-color: #000;
		opacity: 0.5;
		filter: alpha(opacity:50);
}
.navigation {
			position: absolute;
			top: 25px;
			left: 25px;
}
.navigation li {
			height: 40px;
}
.navigation li a {
				color: #FFFFFF;
				font: 14px/40px "微软雅黑";
}
.ban_und .color_block {
		width: 235px;
		height: 170px;
		background-color: #5F5750;
}
.ban_und .color_block p {
			 text-align: center;
			 line-height: 40px;
			 font: 18px "微软雅黑";
			 color: #fff;
			 margin-top: 50px;
}
.ban_und .ban_img {
				height: 170px;
				width: 315px;
				margin-left: 15px;
}
/*--Banner-E--*/
/*产品区-B */
.product {
		height: 800px;
		background-color: #F5F5F5;
}
.product .pro_up {
				margin-top: 60px;
}
.pro_up h3 {
			height: 30px;
			font: 16px "微软雅黑";
}
.pro_und {
		height: 615px;
}
.pro_und_l {
			width: 235px;
			height: 615px;
			background: url(../images/124d82cc-cfce-44ab-b711-28b21be81683.jpg);
}
.pro_und_r {
			height: 615px;
			width: 990px;
}
.pro_und_r_up {
				height: 300px;
}
.mini_pro {
			width: 235px;
			height: 300px;
			background-color: #fff;
			margin-left: 12px;
			position: relative;
}
.pro_post {
			width: 65px;
			height: 20px;
			background-color: #FFAC13;
			text-align: center;
			color: #fff;
			line-height: 20px;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -33px;
}
.mini_pro .red {
				background-color: #E53935;
}
.mini_pro p {
			text-align: center;
			font: 14px "微软雅黑";
}
.mini_pro img {
				margin-top: 20px;
}	
.pro_und_r_und {
				margin-top:14px;
}
.mini_lu {
		margin-top: 20px;
}
.price {
		margin-top: 10px;
}
/*产品区-E*/
/*--bottom-B*/
.bottom {
		height: 210px;
		backgroun-color: #FFFFFF;
}
.links {
		height: 150px;
		padding-top: 40px;
}
.links dl {
			margin-left: 100px;
}
.links dt {
			margin-bottom: 30px;
}
.links dd {
			margin-bottom: 15px;
}
.links .phone {
				width: 250px;
				height: 115px;
				text-align: center;
				border-left: 1px solid #E0E0E0;
}
.phone_number {
			color: #FF6700;
			font: 24px "微软雅黑";
}
.words_serve {
			color: #616161;
}
/*--bottom-E*/
.statement {
		height: 160px;
		background-color: #FAFAFA;
}
.sta_middle {
			height: 100px;
			margin-top: 20px;
			background: url(../images/slogan2016.png) no-repeat center bottom;
}
.sta_middle img {
				margin-right: 10px;
}
.sta_middle p {
				line-height: 20px;
}			
.statement .words_mi {
					color: #757575;
					font: 12px "微软雅黑";
}
.words_sta {
			color: #B0B0B0;
			font: 12px "微软雅黑";
}